<div id="main-content" class="container">
    <h3 class="header">About Us</h3>
    <table border="0" style="background: white;color:black;height: 1000px;">
        <tr border="0">
            <td style="width: 20%" border="0">
                WHO WE ARE
            </td>
            <td border="0">
                There’s nothing cookie-cutter about Pizza Vala. Not our pizzas. Not our people. And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve. And we don’t just clock in. Not when we can also become
                our best, make friends, and have fun while we’re at it. We’re the pizza company that lives life unboxed.
            </td>
        </tr>
        <tr>
            <td>
                WHAT WE’RE ABOUT
            </td>
            <td>
                At Pizza Vala, we don’t just make pizza. We make people happy. Pizza Hut was built on the belief that pizza night should be special, and we carry that belief into everything we do. With more than 10 years of experience under our belts, we understand how
                to best serve our customers through tried and true service principles: We create food we’re proud to serve and deliver it fast, with a smile.
            </td>
        </tr>
        <tr>
            <td>
                PIZZA HUT INDIA
            </td>
            <td>
                In June 2020, Pizza Vala made its foray into India with a restaurant in Karad ,Pune and was the first restaurant chain to pioneer this category. The restaurant brand offers an exciting menu consisting of its signature pizzas, appetizers, pastas, desserts
                and beverages. Its trademark dining experience has been recognized by Brand Equity to make it the ‘Most Trusted Food Service Brand’ for 11 years in a row. Pizza Hut is the most preferred pizza brand in India, given its freshest, tastiest
                and affordable Pizzas.
            </td>
        </tr>

    </table>
    <br>
</div>