<h3 class="header">Enter email for reset password</h3>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form resetpassworde">
            <div class="form-group">
                <label for="">Email</label>
                <input [(ngModel)]="email" type="email" class="form-control" placeholder="Enter your email address">
            </div>
            <div class="form-group">
                <button (click)="onSubmit()" class="btn btn-info">Submit</button>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>