<div id="main-content">
    <h3 class="header">Contact Us</h3>
    <table border="0" style="background: white;color:black;height: 500px; width: 1000px; padding-right: 20px;">

        <tr border="0">
            <td border="0">
                Phone
            </td>
            <td border="0">
                1233455662<br> 1234556666
            </td>
        </tr>
        <tr>
            <td border="0">
                E-mail on
            </td>
            <td>

                pizzavalaofficial@gmail.com
                <br> admin@pizzavala.com
            </td>
        </tr>
        <tr>
            <td>
                For Query
            </td>
            <td>
                9999999923<br> 6773245349

            </td>
        </tr>
        <tr border="0">
            <td>
                Address
            </td>
            <td>
                203, Anuda Chambers,<br> Shaniwar Peth,<br> near Gujar Hospital,<br> Karad, Maharashtra 415110

            </td>
        </tr>

    </table>
    <br>
</div>