<div class="modal-header">
    <h5>Update Profile</h5>
</div>

<div class="modal-body">
   
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">New Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="">Confirm New password</label>
                <input [(ngModel)]="confirmPassword" type="password" class="form-control">
            </div>
        </div>
    </div>

  

</div>

<div class="modal-footer">
    <button (click)="onUpdate()" class="btn btn-info">Update</button>
    <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
</div>