/* .background{
   background-image: url('../../../../images/registered3.jpg'); */


/* background-repeat: no-repeat; */


/* } */


/* .form-control{
    
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom:1px solid whitesmoke;
    font-size:18px;
    margin-top:25px;
    margin-left: 15px;
    height:40px;
    color: whitesmoke;
}
.label{

    font-size: normal;
    margin-top: 15px;

    color: whitesmoke;
    font-size :19px;
}
.l{
    color: wheat;
    font-size: 20px;
} */