<br><br>
<h3 class="header">Disclaimers</h3>
<div class="bg-color">

    <p> The customer is responsible to ensure that they are fully aware of all terms and conditions when making a purchase on PizzaVala.</p><br>
    <p> PizzaVala reserves the right to change/modify these terms and conditions at their own discretion.</p><br>
    <p> The images shown are from representative purposes only and the actual product may vary in size, colour, etc.</p><br>
    <p> PizzaVala reserves the right to change any part or piece of information on this website without any notice to customers or visitors.</p>

</div>