<br><br>
<h3 class="header">Terms & Conditions</h3>
<div class="bg-color">

    <p>Orders of 4 or more pizzas qualify as bulk orders, not valid for service guarantee of less than 30 minutes or free. Maximum PizzaVala's liability is Rs. 300.</p><br>
    <p>Delivery guarantee applicable at the first barrier point. PizzaVala's does not penalize its drivers for late delivery. 30 minutes or free not applicable when store operating conditions or not suitable , to be announced at the time of order taking.
        PizzaVala's preserves the right to withdraw the service guarantee without prior information.</p><br>
    <p>30 minutes delivery guarantee not applicable on New years eve,on Ganesh festival , Christmas and Durga Pooja , the service guarantee may be withdrawn temporarily in view of difficult operating conditions for delivery. Conditions apply.</p>

</div>